/* Scroll logo change */
.navbar-clone .main-logo {
	display: none !important;
}

.navbar-clone .scroll-logo {
	display: block !important;
}

/* Hide original header when clone is active to prevent clashing */
.navbar-clone ~ .navbar:not(.navbar-clone) {
	display: none !important;
}
